@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


body {
    font-family: "Poppins";
    color: #242A48;
}

header {
    display:flex;
    align-items: center;
    padding: 48px 32px;
    margin-bottom: 40px;
    z-index:1;
    margin-left:20px;
}

#containernav {
    z-index:1;
    width: 50%;
}


#fond {
    position:absolute;
    right:0;
    top:0;
    z-index:-10;
}

main {
    margin-left: 120px;
}

#btn-container {
    display:flex;
    gap:10px;
}